*{
  text-decoration: none;
}

.App {
  text-align: center;
  width: 100%;
}

header{
  background-color: rgb(82 82 82);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

header .logoArea{
  font-weight: 700;
  font-size: x-large;
}header .logoArea:hover{
  color: aliceblue;
  transition: .4s;
}

header nav ul{
  display: flex;
  list-style: none;

}

header nav ul li{
  margin: 0px 10px;
}header nav ul li a:hover{
  color: rgb(206 187 153);
}header nav ul li a{
  color: aliceblue;
  font-weight: 700;
}


main{
  margin-top: 100px;
}
